<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular Bootcamp</title>
  <script src="../vendor/angular.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="../vendor/bootstrap.css">
</head>
<body>


  <div ng-controller="AppCtrl as app">\
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Job Title</th>
          <th>Duties</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in app.people">
          <td>{{person.name}}</td>
          <td>{{person.email}}</td>
          <td>{{person.job}}</td>
          <td><ul><li ng-repeat="duty in person.duties">{{duty}}</li></ul></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>